footer.footer 
  p
    a(href="https://github.com/victor-aunon/vite-pug-skeleton" target="_blank") vite-pug-skeleton
    |  proudly serve to you by
    a(href="https://github.com/victor-aunon" target="_blank")  Víctor Auñón